<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

{{ $opts := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
{{ with resources.Get "css/sass/style.sass" | toCSS $opts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}



    <link rel="shortcut icon" href="/media/v-logo.png">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,100,200,500,700|Roboto+Mono:400,300,100,200,500" media="none" onload="if(media!='all')media='all'"><noscript>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,100,200,500,700|Roboto+Mono:400,300,100,200,500"></noscript>
    <script src="tokenizer.js"></script>
    <title>The V Programming Language</title>
</head>

<body>
    <div id='app'>
        {{ partial "nav" . }}
        <div class='content landing'>
            {{ partial "book" . }}
            {{ block "main" . }}
            {{ end }}
            {{ partial "footer" . }}
        </div>
</body>

</html>